* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: wheat;
    width: 1000px;
    height: 700px;
    padding: 1em;
    display: flex;
}

.col-left {
    flex: 1;
    border: 2px solid red;
}

.col-right {
    flex: 1;
    border: 2px solid red;
}