/* Layout */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Three columns that sit next to each other */
.column {
    flex: 25%;
    padding: 0 4px;
    width: 400px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

img {
    width: 100%;
    gap: 8px;
}

.heart {
    color:#e25555; 
}

.footer {
    display: flex;
    justify-content: center;
}

.margarine-regular {
    font-family: "Margarine", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  