/* Layout */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Two columns that sit next to each other */
.column {
    flex: 25%;
    padding: 0 4px;
    width: 400px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

img {
    width: 100%;
}